
.Home{
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    background-color: rgb(82, 180, 216);
    border-radius: 50%;
    border: 20px solid black;
}
span{
    height: 45px;
    width: 60px;
    color:rgb(226, 11, 11);
    background-color: rgb(3, 3, 3);
}
